<div class="content" role="main">
  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'getAllCars'; getAllCars()" tabindex="0">
      <mat-icon>file_download</mat-icon>
      <span>Get All cars</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'getById'" tabindex="0">
      <mat-icon>file_download</mat-icon>

      <span>Get Car by Id</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'addCar'" tabindex="0">
      <mat-icon>add_circle</mat-icon>

      <span>Add new Car</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'updateCar'" tabindex="0">
      <mat-icon>update</mat-icon>

      <span>Update Car Info</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'delete'" tabindex="0">
      <mat-icon>delete</mat-icon>

      <span>Delete Car</span>
    </div>
  </div>

  <div class="terminal" [ngSwitch]="selection.value">
    <pre>
      <app-car [action]='selection.value' [carsList]='cars'></app-car>
    </pre>
  </div>

</div>

<router-outlet></router-outlet>
